<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.applock">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_settings_applock"
        android:label="@string/app_lock_title"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppLock">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_lock_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.security" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/app_lock_summary" />
        </activity>

        <activity
            android:name=".SubSettingsActivity"
            android:exported="false"
            android:label="@string/app_lock_title" />

        <provider
            android:name=".SettingsSearchIndexablesProvider"
            android:authorities="com.android.applock"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="false"
            android:permission="android.permission.READ_SEARCH_INDEXABLES">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
